:root {
  --main-color: #F8C196;
  --secondary-color: #3debc8;
  --alt-color: #4b82fa;
  --background-color: #101011;
  --main-font: 'Lobster', serif;
  --sub-font: 'Anton'
}

body {
  background: var(--background-color);
  color: var(--main-color);
  text-align: center;
}

.text-container {
  width: 100%;
  margin: 10px auto;
  height: 50px;
  text-align: center;
  font-size: 15px

}

.intro {
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 30px
}

.typed-text {
  color: var(--secondary-color);
  font-size: 25px;
  font-family: var(--sub-font);
  height: 30px
}

button {
  height: 70px;
  margin: 5px;
  margin-top: 20px;
  width: 70px;
  border-radius: 3px
}

#practice {
  background: #F3CEAA;
}

#sequence {
  background: #F3ECAA;
}

#phaser2 {
  background: #CDF3AA;
}

#phaser3 {
  background: #AAF3EA
}

#interval_phaser {
  background: #AABEF3;
}

#oscillator {
  background: #F3AABE
}

#kick {
  background: #F3CEAA
}

#bear {
  background: #AAF3C5;
  width: 80%
}

#parts {
  background: #F3ECAA
}

#loop {
  background: #F3CEEA
}
