:root {
  --main-color: #F8C196;
  --secondary-color: #3debc8;
  --alt-color: #4b82fa;
  --background-color: #101011;
  --main-font: 'Lobster', serif;
  --sub-font: 'Anton'
}

body {
  background: var(--background-color);
  color: var(--main-color);
  text-align: center;
}

.text-container {
  width: 100%;
  margin: 10px auto;
  height: 50px;
  text-align: center;
  font-size: 15px

}

.intro {
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 30px
}

.typed-text {
  color: var(--secondary-color);
  font-size: 25px;
  font-family: var(--sub-font);
  height: 30px
}

button {
  height: 70px;
  margin: 5px;
  margin-top: 20px;
  width: 70px;
  border-radius: 3px
}

button:hover {
  height: 71px;
  width: 71px;
  border: 2px solid var(--secondary-color);
}

#practice {
  background: #F3CEAA;
}

#sequence {
  background: #F3ECAA;
}

#beat_one {
  background: #AAF3A2;
}

#beat_two {
  background: #AAF1EE
}

#tone_one {
  background: #AABEF3;
}

#tone_two {
  background: #F3AABE
}

#kick {
  background: #F3CEAA
}

#bear {
  background: #AAF3C5;
  width: 30%
}

#parts {
  background: #F3ECAA
}

#sequence_one {
  background: #F3C7AA
}

#loop {
  background: #F3CEEA
}

#stop {
  border: 2px solid var(--secondary-color);
  background-color: #262c2d;
  font-family: 'Monoton', serif;
  background-image:
    radial-gradient(var(--secondary-color) 3%, transparent 0),
    radial-gradient(var(--secondary-color) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

#stop:hover {
  border: 2px solid #9EEE96;
  background-image:
    radial-gradient(#9EEE96 5%, transparent 0),
    radial-gradient(#9EEE96 5%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
